@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: white;
  justify-content: center;

  border: beige;
  background-color: black;
}



.sum-value {
  background-color: green;
  color : red;

}